<div class="quiz">

    <div class="logo">
      <img src="assets/imgs/logo.png" alt="titulo">
      <h3>{{titulo}}</h3>
    </div>
  
    @if(!finalizado){
    <div class="questao">
        <h3>{{questaoSelecionada.question}}</h3>
    </div>
}
    @if(!finalizado){
    <div class="opcoes">
  
        @for(opcao of questaoSelecionada.options; track opcao){

            <button (click)="escolher(opcao.alias)" class="botao-opcao" >
                {{opcao.name}}
      </button>
            }
  
    </div>
}
    @if(finalizado){
    <div class="resultado">
      <h1>O Seu resultado é:</h1>
      <p>{{ resultadofinal}}</p>
    </div>
}
  </div>